{% extends "base.html" %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col-md-8 bg-color-work-history section-column">
            <div class="row">
                <div class="col-8">
                    <h3 class="history-heading uppercase">
                        Work Experience
                    </h3>
                    <hr>
                </div>
            </div>
            <div class="history-items">
                <div class="timeline-item" data-dates="11/2020 - Present">
                    <h4>Göteborgs Zoologiska</h4>
                    <p>Website Administrator</p>
                </div>

                <div class="timeline-item" data-dates="03/2017 - Present">
                    <h4>Riv och Sanering i Väst AB</h4>
                    <p>Demolition and asbestos removal</p>
                </div>

                <div class="timeline-item" data-dates="01/2016 - 02/2017">
                    <h4>The Dubliner Irish Pub</h4>
                    <p>Bartender and cook</p>
                </div>

                <div class="timeline-item" data-dates="11/2015 - 03/2016">
                    <h4>Laptop Ninja</h4>
                    <p>Content writer</p>
                </div>

                <div class="timeline-item" data-dates="10/2014 - 02/2016">
                    <h4>Artibeus IT Support</h4>
                    <p>Operations/Technical manager</p>
                </div>

                <div class="timeline-item" data-dates="10/2014 - 02/2016">
                    <h4>Vanilla Networks</h4>
                    <p>I.T consultant and support agent</p>
                </div>

                <div class="timeline-item" data-dates="02/2010 - 11/2011">
                    <h4>Dial A Nerd</h4>
                    <p>On-site PC repair technician</p>
                </div>
                <div class="timeline-item" data-dates="11/2009 - 02/2010">
                    <h4>Copy, Coffee and Bytes Internet Cafe</h4>
                    <p>In-house PC repair technician</p>
                </div>
                <div class="timeline-item" data-dates="11/2009 - 02/2010">
                    <h4>Incredible Solutions</h4>
                    <p>On-site PC repair technician</p>
                </div>
            </div>
        </div>
        <div class="col-4 bg-color-work-history section-column">
            <h1 class="history-heading uppercase">Qualifications</h1>
            <hr>
            <div class="history-items">
                <div class="timeline-item" data-dates="2021">
                    <h4>Diploma In Software Development</h4>
                    <p>Code Institute</p>
                    <p>Credential ID 38719723</p>
                </div>
                <div class="timeline-item" data-dates="2015">
                    <h4>Apple Certified Support Professional 10.10</h4>
                    <p>Apple</p>
                    <p>Credential ID APPL183983</p>
                </div>
                <div class="timeline-item" data-dates="2015">
                    <h4>Apple Certified Associate - Mac Integration 10.10</h4>
                    <p>Apple</p>
                    <p>Credential ID APPL183983</p>
                </div>
                <div class="timeline-item" data-dates="2007">
                    <h4>National Senior Certificate in Art and Design (NSC)</h4>
                    <p>College Of Cape Town</p>
                </div>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}