{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">


        {% for project in projects %}
        <div class="col about-box">
            <div class="col">
                <h1>{{ project.name }}</h1>
                <p>{{ project.description }}
                    <br> <a href="{{project.github_url}}" target="_blank" class="port-link hvr-grow">GitHub Repo</a>
                </p>
            </div>
            <div class="col link-icon hvr-grow">
                <a href="{{ project.live_url }}" target="_blank" class="img-link"><img src="{{ project.img_url }}"
                        alt="{{ project.name }}"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}